@charset "UTF-8";

/*estilo para telas em modo retrato*/

h1 {
    font-size: 5vw;
}

article {
    background-image: url(../../imagens/cev-portrait.jpg);
    height: 300px;
    width: 180px;
    background-position: center bottom;
}
