@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

header > h1 {
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
    margin: 0px;
}

header > p {
    font-family: verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px 20px 20px 30px;
}

main p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
}

main > p {
    padding-bottom: 50px;
}

article{
    margin: 0px -20px 0px -30px;
    padding: 10px 20px 10px 30px;
    box-shadow: inset 0px 6px 13px rgba(0, 0, 0, 0.507);
}

article > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
    display: inline-block;
    text-shadow: 1px 1px 1px black;
}

#joaninha {
    background: url("imagens/background001.jpg") black center center fixed; 
    background-size: cover;
}

#carta {
    background: url("imagens/background002.jpg") black center center fixed; 
    background-size: cover;
}