@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body {
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 40px;
    text-align: center;
}

header > h1 {
    font-family: 'Passion One', cursive;
    font-variant: small-caps;
    font-size: 10vw;
    margin: 0px;
}

header > p {
    font-family: verdana, Arial, Helvetica, sans-serif;
    margin: 0px;
}

p > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}
